@model Shop.DTOs.LoginDto

<h2>Login</h2>

<form method="post">
    <label>Email</label>
    <input asp-for="Email" class="form-control" />

    <label>Password</label>
    <input asp-for="Password" type="password" class="form-control" />

    <button class="btn btn-primary mt-3">Ok</button>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger">@ViewBag.Error</p>
    }
</form>